/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
body {
    background-image: url("Images/Wallpaper.jpg");
}
#container {
    min-width: 800px;
    width: 80%;
    margin: 0px auto;
    background-color: #ffffff;
}

header {
    height: 180px;
    /*border-bottom: 1px solid #b9aeae;*/
    background-image: url("Images/header.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

nav {
    min-width: 140px;
    width: 15%;
    float: left;
    min-height: 500px;
    padding: 20px 5px 10px 10px;
    display: block;
    color: black;
    background-image: url(Images/nav.jpg);
    background-position: bottom;
    background-repeat:repeat;
}

content {
    min-width: 500px;
    width: 85%;
    float: left;
    min-height: 500px;
    padding: 10px;
    background-color: #404040;
}

footer {
    height:80px;
    clear: both;
    text-align: right;
    padding: 5px 10px;
    background-image: url("Images/header.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.nav_level1 {
    font-size: 1.1em;
}

.nav_level2 {
    font-size: 0.9em;
    padding-left: 10px;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

p{
    color: black;
}
h2 ,h3{
    color: black;
}
table{
    background-color: white;
}