@{
    ViewBag.Title = "About";
}


<h2>Arbeiten, wo andere Urlaub machen...</h2>
<h2>... wir suchen Verst&auml;rkung in folgenden Bereichen:</h2>

<h2>&nbsp;</h2>

<h2><span style="font-family: Oswald, sans-serif; font-size: 30px;">Platzwart&nbsp;auf geringf&uuml;giger Basis</span></h2>

<p>- Sie sind handwerklich sehr vielseitig:</p>

<p style="margin-left: 40px;">
    <span class="list-arrow">
        -&gt; Rasenm&auml;hen, Gel&auml;ndepflege, auch Kenntnisse in Hecken- &amp; Baumverschnitt<br />
        -&gt; Reparaturen an Sanit&auml;rinstallationen<br />
        -&gt; Pflasterarbeiten<br />
        -&gt; Kenntnisse in vielseitigen Gewerken<br />
        -&gt; Radlader und Minibagger k&ouml;nnen bedient werden<br />
        -&gt; ein Kettens&auml;genschein ist von Vorteil oder ein sicherer Umgang mit Kettens&auml;gen ist gew&auml;hrleistet
    </span>
</p>

<p><span class="list-arrow">- S</span>ie haben einen F&uuml;hrerschein und erledigen auch&nbsp;Botenfahrten</p>

<p>- Sie arbeiten gerne in der Zeit&nbsp;von 10 Uhr bis 18 Uhr, auch &ouml;fter einmal am Samstag</p>

<p>- Sie sind sehr Kunden-orientiert und haben bei Ihren Arbeiten immer auch die Anliegen und Bed&uuml;rfnisse unserer Urlaubsg&auml;ste im Sinn</p>

<p>- Sie arbeiten mit Schwung, Freude,&nbsp;Ausdauer und freuen sich mit uns, wenn wir z&uuml;gig und zugleich ordentlich in unseren Arbeiten vorankommen&nbsp;</p>

<p>- Sie sind k&ouml;rperlich fit und ein aktiver Mensch mit Elan</p>

<p>- Sie stehen&nbsp;neuen Aufgaben aufgeschlossen gegen&uuml;ber</p>

<p>&nbsp;</p>

<p><strong>P.s.: Sie arbeiten in einem sehr netten, kollegialen und raucherfreien Team...</strong></p>

<p>Gerne k&ouml;nnen Sie mit uns telefonisch oder per&nbsp;eMail in Kontakt treten, wir&nbsp;freuen uns auf Ihre Bewerbung:</p>

<p>
    Camping- &amp; Freizeitpark LuxOase<br />
    Familie Lux<br />
    Arnsdorfer Stra&szlig;e 1<br />
    01900 Kleinr&ouml;hrsdorf/ Dresden<br />
    eMail:&nbsp;<p>***********</p>
</p>

<p>&nbsp;</p>

<h2>Unterst&uuml;tzung unserer Rezeption als Sch&uuml;ler/-in,&nbsp;Student/-in oder Ferienmitarbeiter/-in 2020:</h2>

<p>Jedes Jahr suchen wir engagierte Verst&auml;rkung f&uuml;r die Mithilfe beim Br&ouml;tchenverkauf, in der Rezeption und sichern eine gute Einarbeitung zu. Da die Einarbeitung sehr umfangreich ist, suchen wir bevorzugt Interessenten, die &uuml;ber mehr als 4 Wochen zur Verf&uuml;gung stehen oder auch wiederholt an Wochenenden, Oster-, Himmelfahrts-/ Pfingst-/ Sommerferien Zeit haben.</p>

<p>Unsere Erwartungen:</p>

<p>
    - freundliches, aufgeschlossenes und h&ouml;fliches Auftreten<br />
    - Freude am Umgang mit Menschen<br />
    - Hilfsbereitschaft, Engagement &amp; Einsatzbereitschaft<br />
    - gute Auffassungsgabe &amp; sorgf&auml;ltiges Arbeiten<br />
    - Ehrlichkeit, Zuverl&auml;ssigkeit &amp; Teamgeist<br />
    - Englischkenntnisse, gerne auch weitere Sprachen<br />
    - Erfahrungen mit PC-Arbeiten<br />
    - Sicheres Kopfrechnen
</p>

<p><strong>P.s.: Sie arbeiten in einem sehr netten, kollegialen und raucherfreien Team...</strong></p>

<p>Gerne k&ouml;nnen Sie mit uns telefonisch oder bevorzugt per eMail in Kontakt treten, wir&nbsp;freuen uns auf Ihre Bewerbung:</p>

<p>
    Camping- &amp; Freizeitpark LuxOase<br />
    Familie Lux<br />
    Arnsdorfer Stra&szlig;e 1<br />
    01900 Kleinr&ouml;hrsdorf/ Dresden<br />
    eMail:&nbsp;<p>*********</p>
</p>

<p>&nbsp;</p>

<h2>Unterst&uuml;tzung der Animation als Sch&uuml;ler/-in,&nbsp;Student/-in oder Ferienmitarbeiter/-in 2020:</h2>

<p>Schwerpunkt ist die Animation von Kindern im Alter von ca. 4-12 Jahren, aber auch folgende Dinge geh&ouml;ren zu den Aufgaben:</p>

<p>Das Organisieren von Aktivit&auml;ten f&uuml;r Jugendliche ab 12 Jahren, Sportangebote (Jogging am Morgen, Radtouren, sportliche Radtouren, Morgen-Aufw&auml;rmen, Beachvolleyball, Fu&szlig;ballturniere...) sowie die Vorbereitung und Durchf&uuml;hrung von Turnieren, Olympiaden, Motto-Tage, Koch- und Backaktionen, Campingrallyes, Nachtwanderungen, kreatives Gestalten, Basteln mit Naturmaterialien, Mini-Discos, Lagerfeuer &amp; Stockbrotbraten, das Basteln von Theaterpuppen sowie das Einstudieren und Auff&uuml;hren von Theaterst&uuml;cken mit den G&auml;sten, Zirkusvorstellungen mit kleinen und gro&szlig;en G&auml;sten. Nat&uuml;rlich geh&ouml;rt die Materialpflege mit zu den Aufgaben. Der Umfang der Animation umfa&szlig;t je nach Programmangebot und Platzbelegung ca. 6-8 h t&auml;glich, nat&uuml;rlich kann ein Ruhetag vereinbart werden. Wir gew&auml;hren die Einarbeitung und vermitteln theoretische Kenntnisse. Die Durchf&uuml;hrung der Animation erfolgt je nach G&auml;stebelegung im Team, aber auch in Eigenverantwortung. In der Einarbeitungsphase erfolgt die Animation nicht alleine.</p>

<p>Unsere Erwartungen:</p>

<p>
    - Fr&ouml;hlichkeit, Lebensfreude &amp; Temperament, positive Ausstrahlung<br />
    - sportlich sehr gute Verfassung<br />
    - Einf&uuml;hlungsverm&ouml;gen<br />
    - Verantwortungsgef&uuml;hl<br />
    - Spa&szlig; und Freude am Organisieren und Durchf&uuml;hren von Animationsangeboten f&uuml;r Kinder, Jugendliche und Sportbegeisterte<br />
    - gute Englischkenntnisse sind von Vorteil
</p>

<p>Generell bevorzugen wir aufgrund der umfangreichen Einarbeitung Bewerber/innen, die entweder in mehreren Ferien Interesse an einer Mitarbeit haben oder f&uuml;r l&auml;ngere Zeitr&auml;ume (ab 4 Wochen) in den Sommerferien arbeiten m&ouml;chten.</p>

<p><strong>P.s.: Sie arbeiten in einem sehr netten, kollegialen und raucherfreien Team...</strong></p>

<p>Wir bitten Interessenten um eine schriftliche Bewerbung (Motivationsschreiben, kurze Vorstellung, Lichtbild, letztes Schulzeugnis, Praktikabeurteilungen), bevorzugt per eMail an:</p>

<p>
    Camping- &amp; Freizeitpark LuxOase<br />
    Familie Lux<br />
    Arnsdorfer Stra&szlig;e 1<br />
    01900 Kleinr&ouml;hrsdorf/ Dresden<br />
    eMail:&nbsp;<p>**********</a>
</p>