
@{
    ViewBag.Title = "Impressum";
}




<h2>Wir über uns:</h2>
<h2>Diensteanbieter, Medieninhaber:</h2>
<p>Camping Finder Gmbh</p>


<h2>Kontakt:</h2>
<p>Innenstadt</p>
<p>6020 Innsbruck</p>
<p>Österreich</p>
<p>Tel.: 01254684515 (zum Ortstarif)</p>
<p>E-Mail: kundenservice@campingfinder.at</p>
<p>Firmenbuchnummer: *******</p>
<p>Firmenbuchgericht: Wiener Neustadt</p>

<p>UID-Nr. ATU *******</p>

<h2>Aufsichtsbehörde: Bezirkshauptmannschaft Mödling</h2>
<p>Kammer: Wirtschaftskammer</p>
<h2>Unternehmensgegenstand:</h2>
<p>Bietet die Hilfe zur suche von Campingplätzen an</p>
<p>Nähere Hinweise zum Datenschutz entnehmen Sie hier.</p>

<h2>Kontakt:</h2>
<p>Bei Fragen zu Ihrer Reservierung kontaktieren Sie uns bitte über  unter der unten gennanten Nummer.</p>
<p>Tel.: 01254684515 (zum Ortstarif)</p>




