@{
    ViewBag.Title = "Home Page";
}


<h2>Orte an denen jeder hin will:</h2>
<table align="center">
    <tr>
        <td><img class="image" src="~/Content/Images/Campingplatz01.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Italien</font></li>
                <li><font size="4">Vico II Spirito Santo</font></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><img class="image" src="~/Content/Images/Campingplatz02.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Kroatien</font></li>
                <li><font size="4">Smokvica Krmpotska</font></li>
            </ul>
        </td>
    </tr>

    <tr>
        <td><img class="image" src="~/Content/Images/Campingplatz03.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Kroatien</font></li>
                <li><font size="4">Klenovica</font></li>
            </ul>
        </td>
    </tr>
</table>