
@{
    ViewBag.Title = "Infos";
}

<h2>Infos</h2>


<p>Bei Fragen zu Ihrer Reservierung kontaktieren Sie uns bitte unter der unten gennanten Nummer oder unter der unten genannten E-mail.</p>
<p>Tel.: 01254684515 (zum Ortstarif)</p>
<p>E-Mail: kundenservice@campingfinder.at</p>